@import "./normalize.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

@font-face {
    font-family: 'Elektra';
    src: url('../fonts/elektra_light_pro_regular-webfont.woff2') format('woff2'),
    url('../fonts/elektra_light_pro_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

.container {
    background-color: navy;
    color: white;
    font-family: 'Elektra', sans-serif;
    padding: 15px;
    transition: all 500ms ease-in-out;
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .container {
        width: 420px;
        margin-left: auto;
        margin-right: auto;
        background-color: red;
    }
}

@media screen and (min-width:1200px) {
    .container {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        background-color: chocolate;
    }
}

.header {
    background-color: chartreuse;
    position: sticky;
    top: 0px;
}

.main {
    background-color: teal;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    // align-items: flex-start;
}

.section {
    border: 1px solid darkgray;
    margin: 5px;
    padding: 5px;
    width: 10%;
    // word-wrap: break-word;
}

.second {
    align-self: center;
    width: 40%;
    display: flex;
    flex: wrap;
    justify-content: space-around;

    p {
        border: 1px solid orange;
        margin: 5px;
        padding: 5px;
    }
}

.footer {
    background-color: crimson;
}

a {
    transition: all 300ms ease-in;
}

.main-nav {
    display: flex;
    justify-content: flex-end;

    ul {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;

        li {
            margin-left: 3px;
            margin-right: 3px;
            border-right: 1px solid darkorchid;

            &:last-child {
                border-right: none;
            }
            
            a {
                color: darkgreen;
                text-decoration: none;
                padding: 4px 12px;
                text-transform: uppercase;

                &:hover {
                    color: red;
                }
            }
        }
    }
}
